@import "http://necolas.github.io/normalize.css/";
* {
  box-sizing: border-box; }

body {
  background-color: blanchedalmond;
  margin-top: 0;
  padding: 0;
  margin-right: 130px;
  margin-left: 130px;
  align-items: center;
  font-size: 18px; }

.nav {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 510;
  font-size: 1em;
  background-color: #fff; }

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; }

.nav-logo {
  display: flex;
  justify-content: space-around;
  width: 180px;
  align-items: center;
  font-size: 1.1em; }

.nav-menu {
  display: flex;
  width: 320px;
  justify-content: space-around;
  align-items: center; }

.nav-link {
  color: #232326; }

.nav-link:link {
  text-decoration: none; }

.nav-link:hover {
  color: #274dd8; }

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px 1fr;
  margin: 20px;
  display: -ms-grid; }

.main-header {
  grid-row: 1/2;
  color: #18181c; }

.main-paragh-iam {
  font-family: 'Libre Baskerville', serif;
  font-size: 3.2em;
  margin-top: 170px;
  margin-bottom: 0;
  padding-bottom: 0; }

.main-paragh-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  margin-bottom: 170px;
  margin-top: 0; }

.main-link:link {
  text-decoration: none; }

.main-link {
  color: #18181c; }

.main-link:hover {
  color: #274dd8; }

.main-container {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  margin-top: 70px;
  background-color: #fff; }

.main-left-post {
  grid-column: 1/2; }

.main-rigth-post {
  grid-column: 2/3; }

.main-strongs {
  color: #18181c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em; }

.main-post-img {
  width: 590px;
  height: auto;
  margin-top: 20px; }

.all-links {
  font-family: 'Roboto',
 sans-serif;
  font-weight: 400; }

footer {
  margin-top: 150px;
  position: relative;
  left: 18em;
  width: 50%;
  border-top: 2px solid #c9c6c6; }

.footer-container {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.footer-link:link {
  text-decoration: none; }

.footer-link {
  color: #232326; }

.footer-link:hover {
  cursor: pointer;
  color: #274dd8; }
