@import "./variables";

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 1fr;
    margin: 20px;
    // border-bottom: 2px solid red ;
    display: -ms-grid
}

.main-header {
    grid-row: 1/2;
    // background-color: yellow;
    color: $c-gray-90;
}

.main-paragh-iam {
    font-family: 'Libre Baskerville', serif;
    font-size: 3.2em;
    margin-top: 170px;
    margin-bottom: 0;
    padding-bottom: 0;
    
}

.main-paragh-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    margin-bottom: 170px;
    margin-top: 0;
}

.main-link:link {
    text-decoration: none;
}

.main-link {
    color: $c-gray-90;
}

.main-link:hover {
    color: #274dd8;
}

.main-container {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    margin-top: 70px;
    background-color: #fff;
}

.main-left-post {
    grid-column: 1/2;
    // background-color: purple;
}

.main-rigth-post {
    grid-column: 2/3;
    // background-color: brown;
}

.main-strongs {
    color: $c-gray-90;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

.main-post-img {
    width: 590px;
    height: auto;
    margin-top: 20px;
}

.all-links {
    font-family: 'Roboto',
        sans-serif;
        font-weight: 400;
}