$c-gray-10: #f9f7f6;
$c-gray-20: #e1dede;
$c-gray-30: #c9c6c6;
$c-gray-40: #a5a1a3;
$c-gray-50: #6d676d;
$c-gray-60: #4a484b;
$c-gray-70: #313033;
$c-gray-80: #232326;
$c-gray-90: #18181c;
$c-hover: #274dd8;